*.xls filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
Urdu/train.json filter=lfs diff=lfs merge=lfs -text
Tamil/*.json filter=lfs diff=lfs merge=lfs -text
Tamil/*_complete.csv filter=lfs diff=lfs merge=lfs -text
